body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #575757;
    font-weight: 900;
}
p{
    font-size: 16px;
    color: #828282;
    margin-bottom: 70px;
}
.orange-color{
    color: #FC8B47;
}


.button-link{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(to right, orange, #fd3e21);
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0px 0px 40px rgba(255, 68, 0, 0.459);

}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    margin-top: 100px;
    padding-left: 8%;
}
.first-image{
    width: auto;
    height: 650px;
    padding-right: 40px;
}
h2{
    font-size: 30px;
    color: #575757;
    font-weight: 900;
}
#second-image{
    width: auto;
    height: 450px;
    padding-left: 10%;
}
.second-half-width{
    width: 50%;
    margin-top: 100px;
    padding-left: 8%;
}
.about-me{
    width: 50%;
    margin-top: 130px;
    padding-left: 100px;
    
}
.about-me p{
    text-align: justify;
    padding-right: 80px;
}
.banner{
    margin-top: 80px;
    background-image: url(images/banner.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
   
}
#my-recipies{
    text-align: center;
}
#recipie-item-1{
    width: 25%;
    border-radius: 25px;
    margin-left: 8%;
    margin-right: 6%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.267);

}

#recipie-item-2{
    width: 25%;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 6%;
    box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.267);

}
#recipie-item-3{
    width: 25%;
    border-radius: 25px;
    margin-right: 6%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.267);

}
#recipie-title{
    margin-bottom:80px;
}
.cover-image{
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}
#partner{
    text-align: center;
}
#partner-info{
    width: 20%;
    border-radius: 25px;
    margin-left: 39%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 40px rgba(94, 93, 93, 0.267);
}
input{
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: #f1f1f1;
}
#btn{
    width: 90%;
    font-weight: 700;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: #f1f1f1;
}

footer{
    text-align: center;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

